:root {
  --fonts-headings: 'Red Hat Display', sans-serif;
  --fonts-body: 'Red Hat Text', sans-serif;

  --color-primary: #ed1b24;
  --color-surface: #080101;
  --color-on-surface: #c5c0c0;
  --color-on-surface-bright: #fff;
}
