:root {
  --fonts-headings: 'Fira Sans', sans-serif;
  --fonts-body: 'Fira Sans', sans-serif;

  --color-brand-red: oklch(0% 1 0.5);
  --color-background: oklch(0% 0 1);
  --color-text: oklch(100% 0 1);
}
